.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.image-box {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}

.App-image {
  max-width: 400px;
  margin-right: 20px;
}

canvas {
  max-width: 400px;
}

.pin-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.pin-box p {
  text-align: center;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  height: 50px;
  margin-left: 20px;
}
